<section id="lstoss" class="doc">
  <div class="container">
    <div class="row">
      <div class="l12 m12 s12">
        <h2 class="comb">Works > Visualization (Mike Project)</h2>
        <h1>Infographic Posters</h1>
      </div>
      <div class="l2 m4 s6 infographic_preview">
        <img src="/infographics/infographic_preview_01.png" />
      </div>
      <div class="l2 m4 s6 infographic_preview">
        <img src="/infographics/infographic_preview_02.png" />
      </div>
      <div class="l2 m4 s6 infographic_preview">
        <img src="/infographics/infographic_preview_03.png" />
      </div>
      <div class="l2 m4 s6 infographic_preview">
        <img src="/infographics/infographic_preview_04.png" />
      </div>
      <div class="l2 m4 s6 infographic_preview">
        <img src="/infographics/infographic_preview_05.png" />
      </div>
      <div class="l2 m4 s6 infographic_preview">
        <img src="/infographics/infographic_preview_06.png" />
      </div>
    </div>
    
    <div class="row archive_section">
      <div class="l12 m12 s12">
        <h3>1. The Number of Female Ministers</h3>
      </div>
      <div class="l12 m12 s12">
        <p>The number of female ministers might be an indicator of a country's gender equality. This is why Justin Trudeau appointed 
        the half of his cabinet with women. Thus, I compared the number of female ministers of several countries (Korea, Japan, 
        Brazil, US, Canada, UK, Spain, France, and Germany).</p>
        <p>Click <a href="https://drive.google.com/open?id=0B7Htnl88tDD6TldOZVpucnJLTlU" target="_blank">here</a> to download</p>
      </div>
    </div>
    
    
    <div class="row archive_section">
      <div class="l12 m12 s12">
        <h3>2. Academic Ability and College Enrollment by Gender</h3>
      </div>
      <div class="l12 m12 s12">
        <p>Although young female students are not less smart than male students, their college enrollment is lower than that of male 
        students in some countries. In the poster, you can discover academic ability and college enrollment by gender of several countries 
        (Korea, Japan, Brazil, US, Canada, UK, Spain, France, and Germany).</p>
        <p>Click <a href="https://drive.google.com/open?id=0B7Htnl88tDD6ZlBfTV9YYUhEOGM" target="_blank">here</a> to download</p>
      </div>
    </div>
    
    <div class="row archive_section">
      <div class="l12 m12 s12">
        <h3>3. Average versus Expected Years of Schooling by Gender</h3>
      </div>
      <div class="l12 m12 s12">
        <p>Another educational discrepancy between women and men is years of schooling. In the poster, I visually compared the average and 
        the expected years of schooling by gender of several countries (Korea, Japan, Brazil, US, Canada, UK, Spain, France, and Germany).</p>
        <p>Click <a href="https://drive.google.com/open?id=0B7Htnl88tDD6NDQtZGZQZ2hvSkU" target="_blank">here</a> to download</p>
      </div>
    </div>
    
    <div class="row archive_section">
      <div class="l12 m12 s12">
        <h3>4. Milk Price versus Agriculture Income</h3>
      </div>
      <div class="l12 m12 s12">
        <p>In South Korea, Milk Price is quite expensive than other countries. To look at this issue, I exploratively questioned 
        how much amount of milk a farmer can buy, and visulized the results of several countries (Korea, Japan, Brazil, US, Canada, 
        UK, Spain, France, and Germany).</p>
        <p>Click <a href="https://drive.google.com/open?id=0B7Htnl88tDD6eHRlVDNNNlZ5OVE" target="_blank">here</a> to download</p>
      </div>
    </div>
    
    <div class="row archive_section">
      <div class="l12 m12 s12">
        <h3>5. Work Hour versus Expected Income</h3>
      </div>
      <div class="l12 m12 s12">
        <p>Work hour and wage are two basic labor rights, and Korea is known to have the most long work hour among OECD countries. 
        My question was that if Korean citizens work the same amount of time, how much they will be paid in other countries. In the poster, 
        you can find the answer.</p>
        <p>Click <a href="https://drive.google.com/open?id=0B7Htnl88tDD6cGlXYUM1VExXS0k" target="_blank">here</a> to download</p>
      </div>
    </div>
    
    <div class="row archive_section">
      <div class="l12 m12 s12">
        <h3>6. Poverty and Social Security Budget</h3>
      </div>
      <div class="l12 m12 s12">
        <p>Although poverty is a constant problem of many countries and difficult find an ultimate answer, social security system is 
        a bottom line for extremly impecunious population. In the poster, I tracked past few years poverty rate and social security 
        budget of South Korea.</p>
        <p>Note for your background: The medical insurance system of South Korea has been nationally initiated since 1977, and most of Korean people are required to 
        join this program. The fee to this insurance is determined by one's income and real estate possesion.</p>
        <p>Click <a href="https://drive.google.com/open?id=0B7Htnl88tDD6NmhIVHVTUndDNjA" target="_blank">here</a> to download</p>
      </div>
    </div>
  </div>
</section>