<section id="lstoss" class="doc">
  <div class="container">
    <div class="row">
      <div class="l12 m12 s12">
        <h2 class="comb">Works > Visualization (Mike Project)</h2>
        <h1>Short Visuals</h1>
        <p>
          Short visuals are data visualization articles with one or two visualizations that can be briefly read.
        </p>
      </div>
    </div>
    
    <!-- Four Seasons -->
    <div class="row archive_section">
      <div class="l12 m12 s12">
        <h3><a href="/shortvisuals/four-seasons">Seoul's Four Seasons</a></h3>
      </div>
      <div class="l12 m12 s12">
        <p>
          Korean (Translatable) <br />
          South Korea is known ta have four seasons (spring, summer, fall, and winter), and many Korean students are taught so. 
          However, many people feel the climate in a different way: two-seasons with periodic disasters. Thus, I experimentally defined 
          seasons in a way people actually feel: Fine Dust (미세먼지), Extremely Hot (폭염), Season-Change (환절기), and Extremely Cold (혹한).
        </p>
      </div>
    </div>
    
    <!-- Four Seasons -->
    <div class="row archive_section">
      <div class="l12 m12 s12">
        <h3><a href="/shortvisuals/womens-unpaid-work">Women's Unpaid Work</a></h3>
      </div>
      <div class="l12 m12 s12">
        <p>
          English <br />
          This article is about wage gap between gender. This visualized women's average work hour that is not paid 
          if they were paid as same as men.
        </p>
      </div>
    </div>
    
  </div>
</section>