<!doctype html>
<html>
  <head>
    <title>How Much Do I Emit? by Mike Project</title>
    <link rel="stylesheet" href="/css/hmde.css"/>
    <link rel="stylesheet" href="/css/grid.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      <div class="container">
        <div class="row">
          <div id="go_to_root" class="l12 m12 s12">
            <a href="/">Mike Project</a>
          </div>
          <div id="main_logo" class="l12 m12 s12">
            <a href="/howmuchismylabor">How Much Do I Emit?</a>
          </div>
          <div class="l12 m12 s12">
            <div id="main_nav">
              {{#if is_en}}
                <a href="/howmuchdoiemit/tables">Tables</a>
                <a href="/howmuchdoiemit/graphs">Graphs</a>
                <a href="/howmuchdoiemit/calculator">Calculator</a>
                <a href="/howmuchdoiemit/bycountry">By Country</a>
                <a href="/howmuchdoiemit/download">Download</a>
                <a href="/change_language/ko">한</a>
              {{else}}
                <a href="/howmuchdoiemit/tables">표</a>
                <a href="/howmuchdoiemit/graphs">그래프</a>
                <a href="/howmuchdoiemit/calculator">계산기</a>
                <a href="/howmuchdoiemit/bycountry">나라별</a>
                <a href="/howmuchdoiemit/download">다운로드</a>
                <a href="/change_language/en">EN</a>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </header>
    {{{body}}}
    <footer>
      <div class="container">
        <div class="row">
          <div class="l12 m12 s12">&copy; 2016 Mike Project / Work of a Feminist.</div>
        </div>
      </div>
    </footer>
  </body>
</html>