@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
  background: #222;
	font-family: 'Noto Sans KR', sans-serif;
}

.anchorjs-link {
  transition: all .25s linear;
}
*:hover > .anchorjs-link {
  margin-left: 0.5em !important;
}

#header-wrap {
  width: 100%;
  color: #fff;
  display: block;
}

#mike-project {
  display: block;
  vertical-align: top;
  width: auto;
  padding: 20px;
  font-size: 12px;
  line-height: 100%;
}

#project-name {
  display: block;
  vertical-align: top;
  width: auto;
  padding: 0 20px 10px 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
}

#mike-project a,
#project-name a {
  color: #fff;
  text-decoration: none;
}

#documentation {
  display: block;
  vertical-align: top;
  width: auto;
  padding: 10px;
  font-size: 14px;
  line-height: 100%;
  text-align: left;
}

#documentation a {
  display: inline-block;
  color: #fff;
  padding: 10px;
  margin: 0;
  transition: .3s;
}

#documentation a:hover {
  color: #FF9F1C;
  text-decoration: none;
}

#current-area {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  height: auto;
  padding: 10px 10% 10px 20px;
  color: #fff;
  background: #222;
  font-size: 20px;
  opacity: .8;
}

#current-area span {
  display: inline-block;
  vertical-align: top;
  line-height: 100%;
}

#current-area .small {
  height: 12px;
  font-size: 12px;
  margin-bottom: 3px;
  margin-top: 2px;
  margin-right: 10px;
}

#current-area .area {
  height: 16px;
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 0;
}

#selector-wrap {
  display: block;
  width: 100%;
  background: #222;
  color: #fff;
  text-align: center;
}

#metro-selector, #regional-selector {
  display: inline-block;
  min-width: 300px;
  margin: 0 10px 0 10px;
}

#metro-selector .dropdown-toggle,
#regional-selector .dropdown-toggle,
#metro-selector .dropdown-menu,
#regional-selector .dropdown-menu {
  min-width: 300px;
  background: #222;
  color: #fff;
}

#metro-selector .dropdown-toggle,
#regional-selector .dropdown-toggle {
  border-width: 0 0 3px 0;
  border-color: #fff;
  border-radius: 0;
  font-size: 24px;
}

#metro-selector .caret,
#regional-selector .caret {
  border-width: 6px;
}

#metro-selector .dropdown-menu,
#regional-selector .dropdown-menu {
    margin: -3px 0 0 0;
    height: auto;
    max-height: 500px;
    overflow-x: hidden;
    border-width: 1px;
    border-radius: 0;
    border-color: #fff;
    font-size: 18px;
    box-shadow: 0 0 0;
}

#metro-selector .dropdown-menu li a,
#regional-selector .dropdown-menu li a {
  color: #fff;
}

#metro-selector .dropdown-menu li a:hover,
#regional-selector .dropdown-menu li a:hover {
  color: #222;
}

#content-wrap {
  width: 100%;
  margin: 40px 0 40px 0;
  height: auto;
  color: #fff
}

#tab-wrap {
  background: #333;
  position: fixed;
  border-top: 1px #ddd solid;
  bottom: 0;
  z-index: 999;
}

#tab-wrap .nav {
  display: flex;
  justify-content: center;
}

#tab-wrap .nav a {
  color: #fff;
  border-radius: 0;
  padding: 15px 10px 15px 10px;
}

#tab-wrap .nav .active a,
#tab-wrap .nav a:hover {
  background: #666;
  border-radius: 0;
}

#content-wrap h4 {
  line-height: 100%;
  margin: 0 0 20px 0;
}

#graph-content {
  text-align: center;
  margin-bottom: 20px;
}

svg .hasAction {
  cursor: pointer;
  transition: .3s;
}

#graph text {
  transition: .5s;
}

#table-content table {
  margin: 20px 0 0 0;
}

#table-content table tr:hover {
  background: #333;
}

.sortable {
  cursor: url('../img/sort_cursor.png') 1 1, pointer;
}

.table-small-letter {
  font-size: 12px;
}

.cell-numeric {
  text-align: right;
}

#text-wrap {
  margin-bottom: 30px;
}

#copy {
  margin-top: 50px;
  margin-bottom: 50px;
  color: #ddd;
  text-align: center;
}

#copy h5 {
  font-size: 14px;
  line-height: 100%;
  margin: 0 0 20px 0;
}

#copy p {
  font-size: 12px;
  line-height: 100%;
  margin: 0 0 8px 0;
  line-height: 160%;
}

#copy p a {
  color: #2EC4B6;
}
