@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
  background: #222;
	font-family: 'Noto Sans KR', sans-serif;
}

#header-wrap {
  width: 100%;
  color: #fff;
  display: block;
}

#mike-project {
  display: block;
  vertical-align: top;
  width: auto;
  padding: 20px;
  font-size: 12px;
  line-height: 100%;
}

#project-name {
  display: block;
  vertical-align: top;
  width: auto;
  padding: 0 20px 10px 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
}

#mike-project a,
#project-name a {
  color: #fff;
  text-decoration: none;
}

#documentation {
  display: block;
  vertical-align: top;
  width: auto;
  padding: 10px;
  font-size: 14px;
  line-height: 100%;
  text-align: left;
}

#documentation a {
  display: inline-block;
  color: #fff;
  padding: 10px;
  margin: 0;
  transition: .3s;
}

#documentation a:hover {
  color: #FF9F1C;
  text-decoration: none;
}

#content-wrap {
  width: 100%;
  margin: 10px 0 40px 0;
  height: auto;
  color: #fff
}

#content-wrap h4 {
  line-height: 100%;
  margin: 0 0 20px 0;
}

.content-item {
  font-size: 14px;
}

.content-item p {
  color: #ddd;
  line-height: 160%;
  margin-bottom: 20px;
  font-weight: 100;
}

.content-item a {
  color: #ddd;
}
.content-item a:hover {
  color: #2EC4B6;
}

.content-item h5 {
  margin-top: 25px;
  padding-bottom: 12px;
  border-bottom: 1px solid;
}

.content-item h5:first-child {
  margin-top: 0;
}

.content-item>ul {
  padding-left: 0;
}
.content-item>ul>li {
  margin-left: 0;
  list-style: none;
}
.content-item>ul>li>ul {
  margin-left: 0;
  margin-bottom: 10px;
}
.content-item>ul>li>ul>li {
  margin-left: 0;
  list-style: disc;
  margin-top: 7px;
  font-weight: 100;
}

#copy {
  margin-top: 50px;
  margin-bottom: 50px;
  color: #ddd;
  text-align: center;
}

#copy h5 {
  font-size: 14px;
  line-height: 100%;
  margin: 0 0 20px 0;
}

#copy p {
  font-size: 12px;
  line-height: 100%;
  margin: 0 0 8px 0;
  line-height: 160%;
}

#copy p a {
  color: #2EC4B6;
}
