@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
  background: #222;
	font-family: 'Noto Sans KR', sans-serif;
}

.hasAction {
  cursor: pointer;
}

#header-wrap {
  width: 100%;
  color: #fff;
  display: block;
}

#mike-project {
  display: block;
  vertical-align: top;
  width: auto;
  padding: 20px;
  font-size: 12px;
  line-height: 100%;
}

#project-name {
  display: block;
  vertical-align: top;
  width: auto;
  padding: 0 20px 10px 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
}

#mike-project a,
#project-name a {
  color: #fff;
  text-decoration: none;
}

#documentation {
  display: block;
  vertical-align: top;
  width: auto;
  padding: 10px;
  font-size: 14px;
  line-height: 100%;
  text-align: left;
}

#documentation a {
  display: inline-block;
  color: #fff;
  padding: 10px;
  margin: 0;
  transition: .3s;
}

#documentation a:hover {
  color: #FF9F1C;
  text-decoration: none;
}

#content-wrap {
  width: 100%;
  margin: 10px 0 40px 0;
  height: auto;
  color: #fff
}

#content-wrap h4 {
  line-height: 100%;
  margin: 0 0 20px 0;
}

.content-item {
  margin: 0 0 50px 0;
}

.nav {
  display: flex;
  overflow: hidden;
  margin-top: 40px;
  margin-bottom: 30px;
  border-radius: 5px;
  border: 1px #fff solid;
}

.nav-item {
  text-align: center;
  border-width: 0 1px 0 0;
  margin: 0 -2px 0 0;
  border-color: #fff;
  border-style: solid;
  padding: 5px 11px 5px 11px;
}

.nav-item:last-child {
  text-align: center;
  border-width: 0;
  margin: 0;
  padding: 5px 11px 5px 11px;
  border-radius: 0 5px 5px 0;
}

.nav-item:first-child {
  border-radius: 4px 0 0 4px;
}

.nav-on {
  background-color: #fff;
  color: #222;
}

#table-content {
  max-width: 100%;
  overflow-x: auto;
}

#table-content table {
  min-width: 1400px;
  margin: 20px 0 0 0;
  font-size: 12px;
  border-color: #eee;
  color: #eee;
}

#table-content table tr:hover td {
  background: #444;
}

.hasSortAction {
  cursor: url('../img/sort_cursor.png') 1 1, pointer;
}

.cell-center {
  text-align: center;
}

.cell-right {
  text-align: right;
}

.cell-header {
  font-weight: 700;
  background: #303030;
}

.cell-header-extra {
  font-weight: 500;
  background: #303030;
  color: #aaa;
}

.cell-nation {
  background: #333;
}

.table>thead:first-child>tr:first-child>th {
  border-top: 1px solid #eee;
}

.table>tbody>tr:last-child>td {
  border-bottom: 1px solid #eee;
}

#copy {
  margin-top: 50px;
  margin-bottom: 50px;
  color: #ddd;
  text-align: center;
}

#copy h5 {
  font-size: 16px;
  line-height: 100%;
  margin: 0 0 20px 0;
}

#copy p {
  font-size: 14px;
  line-height: 100%;
  margin: 0 0 8px 0;
}

#copy p a {
  color: #2EC4B6;
}
