<div class="container">
  <div class="row">
    {{#if is_en}}
    <div class="l6 m6 s12">
      <div class="content-wrap">
        <h1>Intro</h1>
        <p class="paragraph">
          ‘How Much Do I Emit?’ is a project that concerns greenhouse gas emission per income by industrial sectors. All the data used here is extracted from OECD.Stat (http://stats.oecd.org/): ‘Greenhouse gas emissions by source’ and ‘Value added and its components by activity, ISIC rev4.’ Since it is not available from OECD.Stats, the greenhouse gas emission by sectors of South Korea is collected from KOSIS (Korean Statistical Information Service) of Statistics Korea (http://kosis.kr/). Sectors are divides into 5: Agriculture (ISIC rev4 A), Manufacturing / Construction (ISIC rev4 C, F), Energy (ISIC rev4 B, D, E), Transport (ISIC rev4 H) and Others (ISIC rev4 G, I-U). The currency rate data was checked in http://www.oanda.com/currency/converter/ at 22:00UTC July 28, 2015. *ISIC: International Standard Industrial Classification.
        </p>
      </div>
    </div>
    <div class="l6 m6 s12">
      <div class="content-wrap">
        <h1>How to Use?</h1>
        <ul class='content-list'>
          <li>
            <strong>Tables and Graphs</strong>: check the data numerically and visually.
          </li>
          <li>
            In <strong>By Country</strong>, you compare data between two countries.
          </li>
          <li>
            In <strong>Calculator</strong>, you calculate your greenhouse gas emissions based on your earnings.
          </li>
          <li>
            In <strong>Download</strong>, you can download the details of the project.
          </li>
        </ul>
      </div>
    </div>
    {{else}}
    <div class="l6 m6 s12">
      <div class="content-wrap">
        <h1>소개</h1>
        <p class="paragraph">
          ‘How Much Do I Emit?’ (내 배출량은 얼마?)는 산업분야별 단위 수입당 온실가스 배출량을 시각화하는 프로젝트입니다. 사용된 데이터는 모두 OECD.Stat (http://stats.oecd.org/)의 ‘Greenhouse gas emissions by source’ 및 ‘Value added and its components by activity, ISIC rev4’에서 추출되었음을 밝힙니다. 다,만 한국의 경우 OECD.Stats를 통해 분야별 온실가스 배출량 정보를 확인할 수 없었던 관계로 통계청의 국가통계포털 (http://kosis.kr/)에서 비율을 확인했습니다. 분야는 총 5가지로 나뉩니다: 농업 (ISIC rev4 A), 제조건축업 (ISIC rev4 C, F), 에너지산업 (ISIC rev4 B, D, E), 수송 (ISIC rev4 H), 비제조산업(ISIC rev4 G, I-U). 환율 정보는 http://www.oanda.com/currency/converter/ 에서 2015년 7월 28일 22:00 UTC에 확인했습니다. *ISIC: International Standard Industrial Classification (국제 표준 산업 분류).
        </p>
      </div>
    </div>
    <div class="l6 m6 s12">
      <div class="content-wrap">
        <h1>사용 안내</h1>
        <ul class='content-list'>
          <li><strong>표와 그래프</strong>: 데이터를 표와 시각자료로 확인해볼 수 있습니다.</li>
          <li><strong>계산기</strong>: 수입에 기반해 온실가스 배출량을 확인할 수 있습니다.</li>
          <li><strong>국가별</strong>: 국가별로 데이터를 비교할 수 있습니다.</li>
          <li><strong>다운로드</strong>: 프로젝트 세부 사항을 다운로드할 수 있습니다.</li>
        </ul>
      </div>
    </div>
    {{/if}}
  </div>
</div>


