@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
body, html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0; }

div {
  box-sizing: border-box; }

body {
  background-color: white; }

@media screen and (min-width: 1000px) {
  header {
    margin-top: 25px;
    margin-bottom: 25px; } }

@media screen and (max-width: 1000px) {
  header {
    margin-top: 20px;
    margin-bottom: 20px; } }

@media screen and (max-width: 500px) {
  header {
    margin-top: 15px;
    margin-bottom: 15px;
    position: sticky; } }

header #go_to_root {
  text-align: left;
  line-height: 100%;
  width: 100%; }
  @media screen and (min-width: 1000px) {
    header #go_to_root {
      font-size: 20px;
      margin-bottom: 15px; } }
  @media screen and (max-width: 1000px) {
    header #go_to_root {
      font-size: 18px;
      margin-bottom: 10px; } }
  @media screen and (max-width: 500px) {
    header #go_to_root {
      font-size: 16px;
      margin: 0 0 10px 0; } }
  header #go_to_root a {
    color: #222;
    text-decoration: none;
    transition: .3s; }
    header #go_to_root a:hover {
      text-decoration: underline; }

header #main_logo {
  text-align: left;
  line-height: 100%;
  width: 100%; }
  @media screen and (min-width: 1000px) {
    header #main_logo {
      font-size: 40px; } }
  @media screen and (max-width: 1000px) {
    header #main_logo {
      font-size: 30px; } }
  @media screen and (max-width: 500px) {
    header #main_logo {
      font-size: 25px; } }
  header #main_logo a {
    color: #00bf32;
    text-decoration: none;
    transition: .3s; }
    header #main_logo a:hover {
      color: #d2006b; }

header #main_nav {
  line-height: 100%;
  border-bottom: 1px solid #dddddd;
  width: 100%; }
  header #main_nav a {
    color: #222;
    text-decoration: none;
    transition: .3s;
    display: inline-block; }
    header #main_nav a:hover {
      color: #d2006b; }
  @media screen and (min-width: 1000px) {
    header #main_nav {
      font-size: 20px;
      padding: 34px 0 16px 0; }
      header #main_nav a {
        margin-right: 20px;
        height: 30px; } }
  @media screen and (max-width: 1000px) {
    header #main_nav {
      font-size: 18px;
      padding: 15px 0 25px 0; }
      header #main_nav a {
        margin-right: 15px;
        height: 25px; } }
  @media screen and (max-width: 500px) {
    header #main_nav {
      font-size: 16px;
      padding: 15px 0 5px 0; }
      header #main_nav a {
        margin-right: 10px;
        margin-bottom: 10px;
        height: 20px; } }

footer {
  color: #aaa;
  font-weight: 300; }
  footer .container .row div {
    width: 100%;
    text-align: center; }
  @media screen and (min-width: 1000px) {
    footer .container .row {
      font-size: 14px;
      margin-bottom: 100px;
      margin-top: 100px; } }
  @media screen and (max-width: 1000px) {
    footer .container .row {
      font-size: 14px;
      margin-bottom: 70px;
      margin-top: 40px; } }
  @media screen and (max-width: 500px) {
    footer .container .row {
      font-size: 12px;
      margin-bottom: 50px;
      margin-top: 30px; } }

p.paragraph {
  line-height: 160%;
  color: #333; }
  @media screen and (min-width: 1000px) {
    p.paragraph {
      font-size: 18px; } }
  @media screen and (max-width: 1000px) {
    p.paragraph {
      font-size: 17px; } }
  @media screen and (max-width: 500px) {
    p.paragraph {
      font-size: 16px; } }

p.helper {
  line-height: 160%;
  color: #999; }
  @media screen and (min-width: 1000px) {
    p.helper {
      font-size: 16px; } }
  @media screen and (max-width: 1000px) {
    p.helper {
      font-size: 13px; } }
  @media screen and (max-width: 500px) {
    p.helper {
      font-size: 13px; } }

h1, h2, h3, h4 {
  line-height: 100%; }

h1 {
  font-weight: 500; }
  @media screen and (min-width: 1000px) {
    h1 {
      margin: 15px 0 30px 0;
      font-size: 30px; } }
  @media screen and (max-width: 1000px) {
    h1 {
      margin: 10px 0 25px 0;
      font-size: 27px; } }
  @media screen and (max-width: 500px) {
    h1 {
      margin: 5px 0 20px 0;
      font-size: 25px; } }

h2 {
  font-weight: 500; }
  @media screen and (min-width: 1000px) {
    h2 {
      margin: 5px 0 20px 0;
      font-size: 20px; } }
  @media screen and (max-width: 1000px) {
    h2 {
      margin: 3px 0 17px 0;
      font-size: 19px; } }
  @media screen and (max-width: 500px) {
    h2 {
      margin: 0 0 15px 0;
      font-size: 18px; } }

h3 {
  font-weight: 600; }
  @media screen and (min-width: 1000px) {
    h3 {
      margin: 18px 0 18px 0;
      font-size: 18px; } }
  @media screen and (max-width: 1000px) {
    h3 {
      margin: 17px 0 17px 0;
      font-size: 17px; } }
  @media screen and (max-width: 500px) {
    h3 {
      margin: 17px 0 17px 0;
      font-size: 17px; } }

.content-list {
  line-height: 160%;
  padding: 0 0 0 15px;
  margin: 0 0 15px 0; }
  @media screen and (min-width: 1000px) {
    .content-list {
      font-size: 18px; } }
  @media screen and (max-width: 1000px) {
    .content-list {
      font-size: 17px; } }
  @media screen and (max-width: 500px) {
    .content-list {
      font-size: 16px; } }
  .content-list strong {
    font-weight: 600; }
  .content-list li {
    margin: 0 0 15px 0;
    margin: 0; }
    .content-list li ul {
      padding: 0 0 0 30px; }

.sublist_foldable {
  overflow: hidden;
  line-height: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: white;
  transition: .3s;
  z-index: 999; }
  .sublist_foldable .folder {
    overflow: hidden; }
  @media screen and (min-width: 1000px) {
    .sublist_foldable {
      position: absolute;
      margin: 9px 0 24px 0;
      width: 400px; }
      .sublist_foldable.multiple {
        width: 300px; }
        .sublist_foldable.multiple:nth-child(2) {
          left: 350px; } }
  @media screen and (max-width: 1000px) {
    .sublist_foldable {
      margin: 5px 0 20px 0;
      width: 100%; } }
  @media screen and (max-width: 500px) {
    .sublist_foldable {
      margin: 0 0 15px 0;
      width: 100%; } }
  .sublist_foldable span {
    display: block;
    box-sizing: border-box;
    cursor: pointer;
    transition: .3s; }
    @media screen and (min-width: 1000px) {
      .sublist_foldable span {
        font-size: 18px;
        padding: 12px 12px; } }
    @media screen and (max-width: 1000px) {
      .sublist_foldable span {
        font-size: 17px;
        padding: 10px 11px; } }
    @media screen and (max-width: 500px) {
      .sublist_foldable span {
        font-size: 15px;
        padding: 10px 10px; } }
    .sublist_foldable span:hover, .sublist_foldable span[data-selected=true] {
      background-color: #f3f3f3; }
    .sublist_foldable span[data-selected=false] {
      background-color: transprent; }
  @media screen and (min-width: 1000px) {
    .sublist_foldable[data-open=false] {
      height: 42px; }
      .sublist_foldable[data-open=false] .folder {
        height: 42px; } }
  @media screen and (max-width: 1000px) {
    .sublist_foldable[data-open=false] {
      height: 37px; }
      .sublist_foldable[data-open=false] .folder {
        height: 37px; } }
  @media screen and (max-width: 500px) {
    .sublist_foldable[data-open=false] {
      height: 35px; }
      .sublist_foldable[data-open=false] .folder {
        height: 35px; } }
  .sublist_foldable[data-open=true] {
    height: auto;
    max-height: 65vh;
    overflow-y: scroll; }
    .sublist_foldable[data-open=true] .folder {
      height: auto; }

@media screen and (min-width: 1000px) {
  .content-wrap.mob-rel {
    position: absolute; } }

@media screen and (max-width: 1000px) {
  .content-wrap.mob-rel {
    position: relative; } }

@media screen and (max-width: 500px) {
  .content-wrap.mob-rel {
    position: relative; } }

.table_note {
  position: fixed;
  z-index: 999;
  border: 1px solid #ddd;
  background-color: white;
  border-radius: 5px;
  cursor: pointer; }
  @media screen and (min-width: 1000px) {
    .table_note {
      font-size: 14px;
      padding: 15px; } }
  @media screen and (max-width: 1000px) {
    .table_note {
      font-size: 13px;
      padding: 12px; } }
  @media screen and (max-width: 500px) {
    .table_note {
      font-size: 11px;
      padding: 9px; } }

h2.table_title {
  color: #00bf32;
  padding-bottom: 7px;
  border-bottom: 3px solid;
  display: inline-block;
  margin-bottom: 0; }

#table_area {
  overflow-x: scroll;
  width: auto; }
  #table_area table {
    width: auto;
    white-space: nowrap;
    border-spacing: 0;
    border-collapse: collapse; }
    #table_area table td {
      border: 1px solid #ddd;
      text-overflow: ellipsis;
      line-height: 100%; }
      @media screen and (min-width: 1000px) {
        #table_area table td {
          font-size: 13px;
          padding: 5px; } }
      @media screen and (max-width: 1000px) {
        #table_area table td {
          font-size: 12px;
          padding: 4px; } }
      @media screen and (max-width: 500px) {
        #table_area table td {
          font-size: 11px;
          padding: 3px; } }
      #table_area table td[data-type='text'] {
        text-align: left; }
      #table_area table td[data-type='number'] {
        text-align: right;
        font-family: 'Roboto Mono', monospace; }
      #table_area table td[data-type='aux'] {
        text-align: center; }
      #table_area table td a {
        color: #00bf32; }
    #table_area table thead td {
      background-color: rgba(224, 66, 81, 0.1);
      transition: .3s;
      cursor: pointer; }
      #table_area table thead td:hover {
        background-color: rgba(0, 135, 81, 0.3); }

.graph-wrap {
  position: relative; }

#graph_area svg,
#plot_area svg {
  margin-top: 30px;
  width: 100%;
  height: auto; }

#graph_area .axis-name,
#plot_area .axis-name {
  fill: #d2006b; }

#graph_area .tick line,
#graph_area .domain {
  stroke: #999; }

#plot_area * {
  transition: .3s; }

#plot_area .tick line,
#plot_area .domain {
  stroke: #ddd; }

#plot_area .dot-hl {
  stroke: grey;
  fill: rgba(0, 0, 0, 0.2); }

#plot_area .dot-hl:hover {
  stroke: #d2006b;
  fill: rgba(224, 66, 81, 0.2); }

#graph_tooltip[data-show=false] {
  display: none; }

#graph_tooltip[data-show=true] {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #ddd; }
  @media screen and (min-width: 1000px) {
    #graph_tooltip[data-show=true] {
      font-size: 14px;
      padding: 5px; } }
  @media screen and (max-width: 1000px) {
    #graph_tooltip[data-show=true] {
      font-size: 12px;
      padding: 5px; } }
  @media screen and (max-width: 500px) {
    #graph_tooltip[data-show=true] {
      font-size: 12px;
      padding: 4px; } }
  #graph_tooltip[data-show=true] span {
    display: block;
    line-height: 100%;
    color: #454545; }
    #graph_tooltip[data-show=true] span.name {
      font-weight: 600;
      margin-bottom: 5px; }
    #graph_tooltip[data-show=true] span.value {
      font-weight: 300; }
      #graph_tooltip[data-show=true] span.value.value.x {
        margin-bottom: 5px; }

#cmp_area[data-show=false] {
  display: none; }

#cmp_area[data-show=true] {
  display: block; }

#cmp_area .cmp_section {
  width: 100%;
  display: flex; }
  @media screen and (min-width: 1000px) {
    #cmp_area .cmp_section {
      margin-bottom: 50px; } }
  @media screen and (max-width: 1000px) {
    #cmp_area .cmp_section {
      margin-bottom: 30px; } }
  @media screen and (max-width: 500px) {
    #cmp_area .cmp_section {
      margin-bottom: 30px; } }
  #cmp_area .cmp_section .cmp_subsection {
    width: 33.3%;
    margin: 0;
    display: block; }
    #cmp_area .cmp_section .cmp_subsection .cmp_bars {
      width: 100%;
      display: flex;
      border-bottom: 1px solid #ddd;
      position: relative; }
      @media screen and (min-width: 1000px) {
        #cmp_area .cmp_section .cmp_subsection .cmp_bars {
          height: 150px;
          padding: 0 100px; } }
      @media screen and (max-width: 1000px) {
        #cmp_area .cmp_section .cmp_subsection .cmp_bars {
          height: 100px;
          padding: 0 70px; } }
      @media screen and (max-width: 500px) {
        #cmp_area .cmp_section .cmp_subsection .cmp_bars {
          height: 90px;
          padding: 0 40px; } }
      #cmp_area .cmp_section .cmp_subsection .cmp_bars .cmp_bar_1,
      #cmp_area .cmp_section .cmp_subsection .cmp_bars .cmp_bar_2 {
        width: 50%;
        position: relative;
        box-sizing: border-box; }
        #cmp_area .cmp_section .cmp_subsection .cmp_bars .cmp_bar_1 .cmp_bar,
        #cmp_area .cmp_section .cmp_subsection .cmp_bars .cmp_bar_2 .cmp_bar {
          width: 100%;
          position: absolute;
          bottom: 0; }
      #cmp_area .cmp_section .cmp_subsection .cmp_bars .cmp_bar_1 .cmp_bar {
        background-color: #d2006b; }
        @media screen and (min-width: 1000px) {
          #cmp_area .cmp_section .cmp_subsection .cmp_bars .cmp_bar_1 .cmp_bar {
            left: -10px; } }
        @media screen and (max-width: 1000px) {
          #cmp_area .cmp_section .cmp_subsection .cmp_bars .cmp_bar_1 .cmp_bar {
            left: -8px; } }
        @media screen and (max-width: 500px) {
          #cmp_area .cmp_section .cmp_subsection .cmp_bars .cmp_bar_1 .cmp_bar {
            left: -5px; } }
      @media screen and (min-width: 1000px) {
        #cmp_area .cmp_section .cmp_subsection .cmp_bars .cmp_bar_1 {
          padding-right: 10px; } }
      @media screen and (max-width: 1000px) {
        #cmp_area .cmp_section .cmp_subsection .cmp_bars .cmp_bar_1 {
          padding-right: 8px; } }
      @media screen and (max-width: 500px) {
        #cmp_area .cmp_section .cmp_subsection .cmp_bars .cmp_bar_1 {
          padding-right: 5px; } }
      #cmp_area .cmp_section .cmp_subsection .cmp_bars .cmp_bar_2 .cmp_bar {
        background-color: #00bf32; }
        @media screen and (min-width: 1000px) {
          #cmp_area .cmp_section .cmp_subsection .cmp_bars .cmp_bar_2 .cmp_bar {
            right: -10px; } }
        @media screen and (max-width: 1000px) {
          #cmp_area .cmp_section .cmp_subsection .cmp_bars .cmp_bar_2 .cmp_bar {
            right: -8px; } }
        @media screen and (max-width: 500px) {
          #cmp_area .cmp_section .cmp_subsection .cmp_bars .cmp_bar_2 .cmp_bar {
            right: -5px; } }
      @media screen and (min-width: 1000px) {
        #cmp_area .cmp_section .cmp_subsection .cmp_bars .cmp_bar_2 {
          padding-left: 10px; } }
      @media screen and (max-width: 1000px) {
        #cmp_area .cmp_section .cmp_subsection .cmp_bars .cmp_bar_2 {
          padding-left: 8px; } }
      @media screen and (max-width: 500px) {
        #cmp_area .cmp_section .cmp_subsection .cmp_bars .cmp_bar_2 {
          padding-left: 5px; } }
    #cmp_area .cmp_section .cmp_subsection .cmp_bar_names {
      width: 100%;
      display: flex; }
      @media screen and (min-width: 1000px) {
        #cmp_area .cmp_section .cmp_subsection .cmp_bar_names {
          margin-top: 10px;
          font-size: 16px; } }
      @media screen and (max-width: 1000px) {
        #cmp_area .cmp_section .cmp_subsection .cmp_bar_names {
          margin-top: 8px;
          font-size: 13px; } }
      @media screen and (max-width: 500px) {
        #cmp_area .cmp_section .cmp_subsection .cmp_bar_names {
          margin-top: 8px;
          font-size: 13px; } }
      #cmp_area .cmp_section .cmp_subsection .cmp_bar_names .cmp_name_1,
      #cmp_area .cmp_section .cmp_subsection .cmp_bar_names .cmp_name_2 {
        width: 50%; }
        #cmp_area .cmp_section .cmp_subsection .cmp_bar_names .cmp_name_1 .cmp_name,
        #cmp_area .cmp_section .cmp_subsection .cmp_bar_names .cmp_name_2 .cmp_name {
          color: #333;
          font-weight: 500; }
        #cmp_area .cmp_section .cmp_subsection .cmp_bar_names .cmp_name_1 .cmp_value,
        #cmp_area .cmp_section .cmp_subsection .cmp_bar_names .cmp_name_2 .cmp_value {
          color: #666;
          font-weight: 300; }
      #cmp_area .cmp_section .cmp_subsection .cmp_bar_names .cmp_name_1 {
        text-align: right; }
        @media screen and (min-width: 1000px) {
          #cmp_area .cmp_section .cmp_subsection .cmp_bar_names .cmp_name_1 {
            padding-right: 10px; } }
        @media screen and (max-width: 1000px) {
          #cmp_area .cmp_section .cmp_subsection .cmp_bar_names .cmp_name_1 {
            padding-right: 8px; } }
        @media screen and (max-width: 500px) {
          #cmp_area .cmp_section .cmp_subsection .cmp_bar_names .cmp_name_1 {
            padding-right: 5px; } }
      #cmp_area .cmp_section .cmp_subsection .cmp_bar_names .cmp_name_2 {
        text-align: left; }
        @media screen and (min-width: 1000px) {
          #cmp_area .cmp_section .cmp_subsection .cmp_bar_names .cmp_name_2 {
            padding-left: 10px; } }
        @media screen and (max-width: 1000px) {
          #cmp_area .cmp_section .cmp_subsection .cmp_bar_names .cmp_name_2 {
            padding-left: 8px; } }
        @media screen and (max-width: 500px) {
          #cmp_area .cmp_section .cmp_subsection .cmp_bar_names .cmp_name_2 {
            padding-left: 5px; } }
    #cmp_area .cmp_section .cmp_subsection .cmp_bar_title {
      color: #333;
      font-weight: 300;
      text-align: center; }
      @media screen and (min-width: 1000px) {
        #cmp_area .cmp_section .cmp_subsection .cmp_bar_title {
          margin-top: 10px;
          font-size: 16px; } }
      @media screen and (max-width: 1000px) {
        #cmp_area .cmp_section .cmp_subsection .cmp_bar_title {
          margin-top: 8px;
          font-size: 13px; } }
      @media screen and (max-width: 500px) {
        #cmp_area .cmp_section .cmp_subsection .cmp_bar_title {
          margin-top: 8px;
          font-size: 13px; } }

.download-wrap {
  box-sizing: border-box; }
  @media screen and (min-width: 1000px) {
    .download-wrap {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      .download-wrap .item {
        width: 230px;
        padding: 20px; } }
  @media screen and (max-width: 1000px) {
    .download-wrap {
      display: block; }
      .download-wrap .item {
        width: 100%;
        margin-bottom: 20px;
        padding: 20px; } }
  @media screen and (max-width: 500px) {
    .download-wrap {
      display: block; }
      .download-wrap .item {
        width: 100%;
        margin-bottom: 15px;
        padding: 15px; } }
  .download-wrap .item {
    border: 1px solid #ddd; }
    .download-wrap .item span {
      display: block; }
      .download-wrap .item span.title {
        font-weight: 600;
        margin-bottom: 20px; }
      .download-wrap .item span.desc {
        font-weight: 100;
        color: #666;
        margin-bottom: 20px; }
    .download-wrap .item a {
      display: block;
      background-color: lightgrey;
      transition: .3s;
      color: white;
      text-decoration: none; }
      .download-wrap .item a:hover {
        background-color: #d2006b; }
      @media screen and (min-width: 1000px) {
        .download-wrap .item a {
          padding: 10px; } }
      @media screen and (max-width: 1000px) {
        .download-wrap .item a {
          padding: 8px; } }
      @media screen and (max-width: 500px) {
        .download-wrap .item a {
          padding: 5px; } }

#country_view[data-open=false] {
  display: none; }

#country_view[data-open=true] {
  display: flex; }

#income_table {
  display: flex; }
  #income_table .body-cell,
  #income_table .header-cell {
    border: 1px solid #ddd;
    margin: 0 -1px -1px 0;
    box-sizing: border-box; }
    @media screen and (min-width: 1000px) {
      #income_table .body-cell,
      #income_table .header-cell {
        padding: 4px 15px;
        font-size: 16px;
        height: 26px; } }
    @media screen and (max-width: 1000px) {
      #income_table .body-cell,
      #income_table .header-cell {
        padding: 3px 8px;
        font-size: 14px;
        height: 22px; } }
    @media screen and (max-width: 500px) {
      #income_table .body-cell,
      #income_table .header-cell {
        padding: 3px 8px;
        font-size: 14px;
        height: 22px; } }
  #income_table .header_column,
  #income_table .header_column .body-cell,
  #income_table .header-cell {
    text-align: center; }
  #income_table .body_columns .body-cell {
    text-align: right; }
  #income_table .header-cell {
    font-weight: 600; }
  @media screen and (min-width: 1000px) {
    #income_table .header_column {
      width: 100px; } }
  @media screen and (max-width: 1000px) {
    #income_table .header_column {
      width: 80px; } }
  @media screen and (max-width: 500px) {
    #income_table .header_column {
      width: 80px; } }
  #income_table .body_columns {
    overflow-x: scroll;
    overflow-y: hidden; }
    @media screen and (min-width: 1000px) {
      #income_table .body_columns {
        width: 900px; } }
    @media screen and (max-width: 1000px) {
      #income_table .body_columns {
        width: 420px; } }
    @media screen and (max-width: 500px) {
      #income_table .body_columns {
        width: auto; } }
    #income_table .body_columns .body_columns_wrapper {
      display: flex;
      flex-wrap: wrap; }

#by_calc_input {
  width: 200px;
  box-sizing: border-box;
  line-height: 100%;
  border: 1px solid #aaa;
  -moz-appearance: none;
  -webkit-appearance: none;
  vertical-align: top; }
  @media screen and (min-width: 1000px) {
    #by_calc_input {
      font-size: 18px;
      height: 32px;
      padding: 7px 15px; } }
  @media screen and (max-width: 1000px) {
    #by_calc_input {
      font-size: 16px;
      height: 28px;
      padding: 6px 9px; } }
  @media screen and (max-width: 500px) {
    #by_calc_input {
      font-size: 16px;
      height: 28px;
      padding: 6px 9px; } }

#by_calc_submit {
  width: auto;
  box-sizing: border-box;
  line-height: 100%;
  border: 1px solid #00bf32;
  -moz-appearance: none;
  -webkit-appearance: none;
  vertical-align: top;
  background-color: #00bf32;
  color: #fff; }
  @media screen and (min-width: 1000px) {
    #by_calc_submit {
      font-size: 18px;
      height: 32px;
      padding: 7px 15px; } }
  @media screen and (max-width: 1000px) {
    #by_calc_submit {
      font-size: 16px;
      height: 28px;
      padding: 6px 9px; } }
  @media screen and (max-width: 500px) {
    #by_calc_submit {
      font-size: 16px;
      height: 28px;
      padding: 6px 9px; } }

#by_calc_result_f,
#by_calc_result_m,
#by_calc_result_b {
  width: 100%;
  position: relative; }
  @media screen and (min-width: 1000px) {
    #by_calc_result_f,
    #by_calc_result_f .bar,
    #by_calc_result_f .value,
    #by_calc_result_m,
    #by_calc_result_m .bar,
    #by_calc_result_m .value,
    #by_calc_result_b,
    #by_calc_result_b .bar,
    #by_calc_result_b .value {
      height: 32px; } }
  @media screen and (max-width: 1000px) {
    #by_calc_result_f,
    #by_calc_result_f .bar,
    #by_calc_result_f .value,
    #by_calc_result_m,
    #by_calc_result_m .bar,
    #by_calc_result_m .value,
    #by_calc_result_b,
    #by_calc_result_b .bar,
    #by_calc_result_b .value {
      height: 28px; } }
  @media screen and (max-width: 500px) {
    #by_calc_result_f,
    #by_calc_result_f .bar,
    #by_calc_result_f .value,
    #by_calc_result_m,
    #by_calc_result_m .bar,
    #by_calc_result_m .value,
    #by_calc_result_b,
    #by_calc_result_b .bar,
    #by_calc_result_b .value {
      height: 28px; } }
  #by_calc_result_f .bar,
  #by_calc_result_m .bar,
  #by_calc_result_b .bar {
    width: 0;
    position: absolute;
    z-index: 1; }
  #by_calc_result_f .value,
  #by_calc_result_m .value,
  #by_calc_result_b .value {
    width: 100%;
    position: absolute;
    z-index: 2;
    color: #fff; }
    @media screen and (min-width: 1000px) {
      #by_calc_result_f .value,
      #by_calc_result_m .value,
      #by_calc_result_b .value {
        font-size: 18px;
        padding: 7px 15px; } }
    @media screen and (max-width: 1000px) {
      #by_calc_result_f .value,
      #by_calc_result_m .value,
      #by_calc_result_b .value {
        font-size: 16px;
        padding: 6px 9px; } }
    @media screen and (max-width: 500px) {
      #by_calc_result_f .value,
      #by_calc_result_m .value,
      #by_calc_result_b .value {
        font-size: 16px;
        padding: 6px 9px; } }

#by_calc_result_f {
  background-color: rgba(144, 153, 37, 0.3); }
  #by_calc_result_f .bar {
    background-color: #afbe00; }

#by_calc_result_m {
  background-color: rgba(188, 52, 187, 0.3); }
  #by_calc_result_m .bar {
    background-color: #bc34bb; }

#by_calc_result_b {
  background-color: rgba(42, 39, 35, 0.3); }
  #by_calc_result_b .bar {
    background-color: #2a2723; }
