<div class="container">
  <div class="row">
    {{#if is_en}}
    <div class="l6 m6 s12">
      <div class="content-wrap">
        <h1>Intro</h1>
        <p class="paragraph">
          Hello! This is “What Percent Male Are You?” by Mike. This project is an action to ask how much differently 
          we are paid by sex and find out a rough figure of the question. Basically, it is an application of the concept of 
          the widely-known Gini Coefficient which indicates a nation’s degree of inequality of income dispersion. 
          I also collected GNI (Gross National Income) by sex for further estimation and GDP (Gross Domestic Production) per capita 
          for reference. For specific data sources, please see the Summary Report from 'download.'
        </p>
        <p class="paragraph">
          In advance, I would like to state its limits. Above all, the estimation is not 100% accurate. 
          Since it is not possible to use world-wide income share data measured in a single method, 
          it uses one of widely-know estimation methods (see the Summary Report).
          That is, the estimated models are real ones, and the statistical confidence is hardly available
          due to the lack of a known distribution.
        </p>
        <p class="paragraph">
          Finally, I want to say that it is also limited in dividing groups. 
          It only divides people into female and male, mainly because I cannot find data divided differently, 
          and assumed that the binary division is enough to say that world-wide income inequality in sexes.
        </p>
      </div>
    </div>
    <div class="l6 m6 s12">
      <div class="content-wrap">
        <h1>How to Use?</h1>
        <ul class='content-list'>
          <li>
            <strong>Tables and Graphs</strong>: check the data numerically and visually.
          </li>
          <li>
            In <strong>By Country</strong>, you can check the more detailed estimation of gendered income difference.
          </li>
          <li>
            In <strong>Download</strong>, you can download the details of the project.
          </li>
        </ul>
      </div>
    </div>
    {{else}}
    <div class="l6 m6 s12">
      <div class="content-wrap">
        <h1>소개</h1>
        <p class="paragraph">
          안녕하세요! “What Percent Male Are You?” (당신은 몇 퍼센트 남성인가요?)입니다. 
          이 프로젝트는 우리가 성별에 따라 얼마나 다르게 급여를 받는지 질문을 던지고, 질문에 개략적인 답을 찾아보고자 합니다. 
          기본적으로, 이 프로젝트는 한 국가의 수입 분포의 불평등한 정도를 나타내는 것으로 널리 알려진 지니 계수를 응용한 것입니다. 
          또한 추산을 위해 성별에 따른 GNI (국민총소득)와, 참고 목적으로 1인당 GDP (국민총생산)을 수집하였습니다. 
          자세한 데이터 출처는 '다운로드'의 요약보고서를 확인하시기 바랍니다.
        </p>
        <p class="paragraph">
          앞서 이 프로젝트의 한계를 언급하고자 합니다. 무엇보다도, 추산이 100% 정확하지 않다는 것입니다. 
          하나의 방법으로 집계된 전 세계의 수입 분배 자료를 수집하는 것이 불가능하기 때문에, 널리 알려진 추산 방법 중 하나를 사용하였습니다. 
          즉, 추산된 모형이 실제 형태는 아니라는 것이며, 알려진 분포의 부재로 통계적 유의성 또한 제공되기 어렵다는 것입니다.
        </p>
        <p class="paragraph">
          마지막으로, 그룹 나누기에서도 한계가 있다는 점을 밝힙니다. 이 프로젝트는 단지 자료 수집의 용이성을 이유로, 
          사람들을 여성, 남성 두 가지 성별에 따라 나누었습니다. 다만, 이렇게 양분된 분류가 성별에 따른 세계적 임금 불평등을 설명하는 데에 
          충분하다고 가정했습니다.
        </p>
      </div>
    </div>
    <div class="l6 m6 s12">
      <div class="content-wrap">
        <h1>사용 안내</h1>
        <ul class='content-list'>
          <li><strong>표와 그래프</strong>: 데이터를 표와 시각자료로 확인해볼 수 있습니다.</li>
          <li><strong>국가별</strong>: 국가별로 더 구체적인 추산을 확인할 수 있습니다.</li>
          <li><strong>다운로드</strong>: 프로젝트 세부 사항을 다운로드할 수 있습니다.</li>
        </ul>
      </div>
    </div>
    {{/if}}
  </div>
</div>


