<div class="container">
  <div class="row">
    {{#if is_en}}
    <div class="l6 m6 s12">
      <div class="content-wrap">
        <h1>Intro</h1>
        <p class="paragraph">
          How Much Is My Labor? is a project that aims to collect data of minimum wage and prices across 46 countries and visualize them. The scope of this project currently includes the member countries of OECD (The Organisation for Economic Co-operation and Development), APEC(Asia-Pacific Economic Cooperation), and NATO (North Atlantic Treaty Organization). Price data of McDonald’s BigMac, Coca-cola, Adidas’s Training pants, IKEA’s Bed Sets, and Dell’s Laptop were chosen to collect, only due to the availability and comparability. In some cases where actual data were not available, estimation were made instead. In the mobile environment, tables may not be shown properly.</p>
      </div>
    </div>
    <div class="l6 m6 s12">
      <div class="content-wrap">
        <h1>How to Use?</h1>
        <ul class='content-list'>
          <li>
            <strong>Tables and Graphs</strong>
            <ul>
              <li><strong>Basic Data</strong>: processed data for the calculation,</li>
              <li><strong>Time to Buy 1</strong>: amount of time for which you need to work to buy 1 product with minimum wage,</li>
              <li><strong>1 Hour Can Buy</strong>: amount of products that you can buy with 1-hour labor on minimum wage,</li>
              <li><strong>Country Data & Product Data</strong>: raw data and their sources</li>
            </ul>
          </li>
          <li><strong>XY-Graphs</strong>: copmarisons between basic economic data and price data</li>
          <li>
            <strong>By Country</strong>: Full report of each country
          </li>
          <li>
            <strong>Download</strong>: details of the project (data set, and estimation process)
          </li>
        </ul>
      </div>
    </div>
    {{else}}
    <div class="l6 m6 s12">
      <div class="content-wrap">
        <h1>소개</h1>
        <p class="paragraph">‘How Much Is My Labor?’ (내 노동력은 얼마?)는 세계 46개국의 최저임금과 물가 정보를 모으고 시각화하는 프로젝트입니다. 조사 국가는 현재 OECD (경제개발협력기구), APEC(아시아-태평양 경제협력체), NATO (북대서양무역기구)의 가입국들입니다. 물가 정보는 맥도날드의 빅맥, 코카콜라, 아디다스의 트레이닝 바지, 이케아의 침대 세트, 델의 노트북을 선정하여 수집했습니다. 다만, 품목의 선정 이유는 데이터 이용가능성 및 비교가능성 으로 그 외의 다른 목적은 없습니다. 데이터 수집이 불가능한 몇몇 경우에는 추산값이 이용되었습니다. 모바일 환경에서는 표가 제대로 보이지 않을 수 있습니다.</p>
      </div>
    </div>
    <div class="l6 m6 s12">
      <div class="content-wrap">
        <h1>사용 안내</h1>
        <ul class='content-list'>
          <li><strong>표와 그래프</strong>
            <ul>
              <li><strong>기초 자료</strong>: 산출 자료 구성의 기초가 되는 자료,</li>
              <li><strong>1개를 사려면?</strong>: 제품 1개를 구입하기 위해 필요한 최저임금의 노동시간,</li>
              <li><strong>1시간에 얼마나?</strong>: 최저임금으로 1시간을 일하여 살 수 있는 양,</li>
              <li><strong>국가 자료, 제품 자료</strong>: 가공 전 원자료 및 출처</li>
            </ul>
          </li>
          <li><strong>XY-그래프</strong>: 기본 자료 및 물가 정보의 비교</li>
          <li>
            <strong>국가별</strong>: 국가별 종합 정보
          </li>
          <li>
            <strong>다운로드</strong>: 프로젝트 세부 사항 다운로드 (데이터셋, 추산과정)
          </li>
        </ul>
      </div>
    </div>
    {{/if}}
  </div>
</div>


