<div id="selector-wrap" class="col-md-12">
  <div id="metro-selector" class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="metro-on" data-toggle="dropdown">전국 <span class="caret"></span></button>
    <ul id="metro-options" class="dropdown-menu" role="menu" aria-labelledby="metro">
    </ul>
  </div>
  <div id="regional-selector" class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="regional-on" data-toggle="dropdown">전체 <span class="caret"></span></button>
    <ul id="regional-options" class="dropdown-menu" role="menu" aria-labelledby="regional">
    </ul>
  </div>
</div>
<div id="content-wrap">
  <div id="tab-wrap" class="col-xs-12 col-md-6 col-md-offset-3">
    <ul id="content-tabs" class="nav nav-pills">
    </ul>
  </div>
  <div id="graph-wrap" class="col-md-12 col-xs-12">
    <h4><i class="fa fa-bar-chart"></i>&nbsp;&nbsp;그래프</h4>
    <div id="graph-content"></div>
  </div>
  <div id="text-wrap" class="col-md-6 col-xs-12">
    <h4><i class="fa fa-newspaper-o"></i>&nbsp;&nbsp;설명</h4>
    <div id="text-content">
    </div>
  </div>
  <div id="table-wrap" class="col-md-6 col-xs-12">
    <h4><i class="fa fa-table"></i>&nbsp;&nbsp;자료 표</h4>
    <div id="table-content">
    </div>
  </div>
</div>