<div id="content-wrap">
  <div id="intro-wrap" class="col-md-4 col-xs-12">
    <h4><i class="fa fa-hand-o-up"></i>&nbsp;&nbsp;소개</h4>
    <div class="content-item">
      <h5>프로젝트에 대해</h5>
      <p>"My Town + Our Diversity (나의 마을 + 우리의 다양성)"는 사회 다양성에 대해 알아보는 Mike Project의 4번째 프로젝트입니다. 다양성에 대한 정의는 다양하지만, 사회적인 면에서 본다면 그 사회에 속한 사람들이 지닌 속성의 다양한 정도라고 할 수 있을 것입니다. My Town + Our Diversity에서는 이와 같은 사회적 다양성을 국적, 장애, 성별, 주거, 직종, 연령으로 나누어서 살펴보았고, '주거'를 제외하고는 성별로 나누어서도 볼 수 있습니다. 이 범주들은 여러 사회과학 연구의 변수로 자주 사용되고 있습니다. 그리고 이를 수치화 및 시각화 하기 위해 '다양도 점수'를 계산하였는데, 이는 다음 섹션에 설명되어 있습니다.</p>
      <p>이 프로젝트는 총 4개의 페이지로 구성되어 있습니다. 지금 보고 있는 소개 페이지와, '찾아보기', '지도', 그리고 '자료' 페이지입니다. '찾아보기'에서는 각 지역별로 검색하여 다양도 범주별 구체적 데이터와 시각자료, 간략한 설명을 확인할 수 있습니다. '지도'에서는 각 범주의 다양도를 지도에서 살펴볼 수 있으며, 그 지역의 다양도 점수를 지도에서 선택하여 살펴볼 수 있습니다. '자료'는 다양도 평균과 다양도 점수를 표로 제공합니다.</p>
      <p>"찾아보기"는 불러오는 자료의 크기가 큽니다(약 15MB). 이용에 주의하시기 바랍니다.</p>
      <h5>다양도 범주에 대해</h5>
      <p>국적 다양도는 지역에 얼마나 많은 외국인이 살고 있는가를 의미합니다. 한국은 전국적으로 많은 외국인이 살고 있지 않지만, 분명히 외국인들이 더 모여사는 지역이 있습니다. 그 지역이 외국인에게 더 친숙한 문화를 가지고 있기 때문에, 혹은 그 지역에 외국인 노동자 또는 결혼 이주민이 많이 거주하고 있기 때문일 수 있습니다.</p>
      <p>장애 다양도는 해당 지역에 얼마나 많은 장애인이 등록하고 거주하고 있는가를 의미합니다. 장애 등급은 무시하였습니다. 성별 다양도는 성비를 이야기할 수 있겠으나, 특별 성별에 기준하지는 않습니다. 50:50일 때가 가장 다양하다고 가정합니다. 그런데 어떤 지역에는 압도적으로 여성이 더 많이 거주하거나, 남성이 더 많이 거주하기도 합니다.</p>
      <p>주거 다양도는 지역의 가구들이 어떠한 형태로 주거 공간을 점유하고 있는가를 살펴봅니다. 집을 직접 소유한 사람도 있고, 월마다 세를 내는 경우(월세)도 있습니다. 사글세는 미리 보증금과 일정 기간의 세를 내고 감하는 방식입니다.</p>
      <p>직종 다양도는 산업 분류에 따른 직업군의 분포가 다양한 정도로, 지역에 따라 사람들의 직업이 더 다양하기도, 한쪽으로 몰려 있기도 합니다. 그리고 성별에 따라 직종 분포가 다른 경우가 많습니다. 연령 다양도는 얼마나 다양한 연령의 사람들이 거주하고 있는가로, 연령을 5세 단위로 집단을 나누었습니다. 대체로 중년(40~59세) 인구가 많았습니다.</p>
    </div>
  </div>
  <div id="point-wrap" class="col-md-4 col-xs-12">
    <h4><i class="fa fa-adjust"></i>&nbsp;&nbsp;다양도 점수</h4>
    <div class="content-item">
      <p>다양도 점수는 다양도 평균을 전국 수준에서의 스케일로 나타낸 값입니다. 종합 다양도는 국적, 장애, 성별, 주거, 직종, 연령 다양도의 평균입니다.</p>
      <h5>다양도 평균</h5>
      <p>다양도 평균은 순위-비율 평균입니다. 전체를 구성하는 집단의 비율과 그 순위를 곱하여 더한 값입니다. 순위-비율 평균은 전체를 구성하는 부분 집단의 수가 많을수록, 각 집단의 크기가 균등할수록 값이 커집니다.</p>
      <p>예를 들어, 전체 집단에 부분 집단 A, B, C가 있고, A의 비율이 25%, B의 비율이 30%, C의 비율이 45%라고 할 때, A, B, C의 순위는 각각 3, 2, 1입니다. 이때 순위-비율 평균을 구하면 3 × 0.25 + 2 × 0.3 + 1 × 0.45=1.8입니다.</p>
      <p>만약에 다른 전체 집단이 부분 집단 A, B, C의 비율이 각각 30%, 33%, 37%라고 하면, 그 순위-비율 평균은 3 × 0.3 + 2 × 0.33 + 1 × 0.37=1.93입니다. 또 다른 전체집단의 부분 집단은 A, B, C, D가 있고, 그 비율이 각각 19%, 21%, 25%, 35%라고 하면, 이때의 순위-비율 평균은 4 × 0.19 + 3 × 0.21 + 2 × 0.25 + 1 × 0.35=2.24가 됩니다.</p>
      <h5>다양도 점수</h5>
      <p>그런데, 서로 다른 범주의 경우 집단의 개수의 영향을 많이 받게 됩니다. 국적은 194개의 집단이 있는데, 성별은 2개 집단밖에 없습니다. 그리고 분포에 따라 다른 한계로 인해 비교가 어려울 수 있으며, 한국의 상황이 절대적인 기준이라고 보기 어렵습니다. 이를 보정하고, 한국 내 여러 지역을 상대적으로 비교해보기 위해 각 영역별 시군구 단위(가장 작은 단위)에서의 최댓값과, 최솟값을 100과 0으로 두고 그에 비례하도록 값을 보정하였습니다. 다양도 평균을 0부터 100사이의 값으로 보정한 것이 다양도 점수입니다.</p>
    </div>
  </div>
  <div id="reference-wrap" class="col-md-4 col-xs-12">
    <h4><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;자료의 출처</h4>
    <div class="content-item">
      <p>자료는 모두 국가통계포털(<a href="http://kosis.kr" target="_blank">http://kosis.kr <i class="fa fa-external-link" aria-hidden="true"></i></a>)에서 확인하였습니다. 이용한 통계표와 기준연도는 다음과 같습니다. 구체적인 통계 자료는 아래 통계표를 검색하여 이용하시기 바랍니다. ('자료'에서는 다양도 평균과 다양도 점수만을 제공합니다.)</p>
      <h5>이용 자료표 목록</h5>
      <ul>
        <li>국적(2014년)
          <ul>
            <li>인구·가구 → 체류외국인통계 → 지역, 국적 및 성별 등록외국인 현황(2014)</li>
            <li>인구·가구 → 주민등록인구현황 → 행정구역(시군구)별 총인구,남자,여자 인구수</li>
          </ul>
        </li>
        <li>장애(2015년)
          <ul>
            <li>보건·사회·복지 → 복지 → 장애인현황 → 등록장애인수-시군구별,장애등급별,성별</li>
          </ul>
        </li>
        <li>성별(2015년)
          <ul>
            <li>인구·가구 → 주민등록인구현황 → 행정구역(시군구)별 총인구,남자,여자 인구수</li>
          </ul>
        </li>
        <li>주거(2014년, 표본자료)
          <ul>
            <li>인구·가구 → 인구총조사 → 가구부문 → 총조사가구(2015) → 표본부문 → 거처의 종류 및 점유형태별 가구(일반가구)-시군구</li>
          </ul>
        </li>
        <li>직종(2014년)
          <ul>
            <li>경기·기업경영 (사업체) → 기업경영(사업체/기업체) → 사업체노동실태현황 → 2007년~2014년 (산업분류 9차) → 시군구별(9개도), 산업별, 규모별, 사업체수 및 종사자수(성별)</li>
            <li>경기·기업경영 (사업체) → 기업경영(사업체/기업체) → 사업체노동실태현황 → 2007년~2014년 (산업분류 9차) → 시군구별(8개시), 산업별, 규모별, 사업체수 및 종사자수(성별)</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>