<div id="content-wrap">
  <div id="panel-wrap" class="col-md-4 col-xs-12">
    <h4><i class="fa fa-bars"></i>&nbsp;&nbsp;선택해서 보기</h4>
    <div id="panel-content" class="content-item"></div>
  </div>
  <div id="map-wrap" class="col-md-5 col-xs-12">
    <h4><i class="fa fa-map-o"></i>&nbsp;&nbsp;지도</h4>
    <h5><i class="fa fa-search"></i>&nbsp;&nbsp;확대 및 축소 가능</h5>
    <div id="map-content" class="content-item"></div>
  </div>
  <div id="detail-wrap" class="col-md-3 col-xs-12">
    <h4><i class="fa fa-binoculars"></i>&nbsp;&nbsp;다양도 점수 자세히 보기</h4>
    <div id="detail-content" class="content-item"></div>
  </div>
</div>