<div id="content-wrap">
  <div id="panel-wrap" class="col-md-12 col-xs-12">
    <h4><i class="fa fa-bars"></i>&nbsp;&nbsp;선택해서 보기</h4>
    <div id="panel-content" class="content-item"></div>
  </div>
  <div id="table-wrap" class="col-md-12 col-xs-12">
    <h4><i class="fa fa-table"></i>&nbsp;&nbsp;자료 표</h4>
    <div id="table-content" class="content-item"></div>
  </div>
</div>