<section id="main_vis">
  <div class="container">
    <div class="row">
      <div class="l12 m12 s12">
        <img src="/img/main_image.jpg" />
        <p class="cap">
          This photo of SNU campus was taken by me.
          Every morning, I pass this trail and think about random ideas.
          At the end of the trail, ideas become trash or briliant new steps.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="me" class="doc">
  <div class="container">
    <div class="row">
      <div class="l12 m12 s12">
        <h1>Visualize the Invisible</h1>
        <p>I am Hyeok Kim. I currently attend a master's program of <a href="http://communication.snu.ac.kr" target="_blank">the Department of Communcation</a> in <a href="http://www.snu.ac.kr" target="_blank">Seoul National University</a>. 
        I am also enjoying my time with the wonderful colleagues of <a href="http://hcid.snu.ac.kr" target="_blank">HCI+D Lab</a>. 
        My research intersts mainly lie in the field of Information/Data Visualization, Between-Device Experience, Human-Computer Interaction, Design Research, and Underrepresented Population. 
        If you are interested in these area too, please don't hesitate to contact me and let's get a surprising work done together!</p>
        
        <p>My first encounter to HCI was my student-designed minor: computational and statistical linguistics, through which I studied 
        natural language processing. At the same time, I also focused on data visualization and created several works under the name of Mike Project.
        (Mike is my nick name. You can call me Mike, too.) Finally, visualization had dominated me, and it was another starting point to various 
        research areas in HCI.</p>
        
        <p>The path I took made me familiar with interdisciplinary subjects. The challenging experience of statistics and computer science 
        made a humanity student (=me) confident in quantitative methods. In addition, the classes from amazing teachers also helped me to improve 
        my qualitative research skills. Especially, I am interested in experiment and design research.</p>
      </div>
    </div>
    <div class="row">
      <div class="l12 m12 s12">
        <h1>Contact</h1>
        <p>e-mail: 'kimhyuck' at 'snu.ac.kr'</p>
      </div>
    </div>
    <div class="row">
      <div class="l12 m12 s12">
        <h1>CV</h1>
        <p>Click here to download</p>
      </div>
    </div>
  </div>
</section>