<section id="research" class="gal">
  <div class="container">
    <div class="row">
      <div class="l12 m12 s12">
        <h1>Between-Device Visualization</h1>
          <p>Visualization is always around us and help us to solve various problems. 
          As different types of devices became affordable to many people,
          we face more and more chances to use visualization on diverse device platforms. 
          In terms of device platforms, our problem-solving experiences are not dicrete but connected.
          For example, you prepared something with laptop and might want to present it on TV.
          Or, you might want to manage your home via smartphones while monitoring on TV.
          </p>
        <div class="card_gal">
          <article class="grp2">
            <h2>
              Design Space for the Transition of Data Visualization Articles from Large to Small Screen Devices
            </h2>
            <p>
              This research deals with various design patterns for transitioning data visualization articles 
              from large screen devices (e.g. desktops) to small screen devices (e.g. smartphones). For this research,
              I collected 104 data visualization articles from NYT and WSJ and analyzed them through content analysis and 
              open-coding. The paper is currently under submission for a peer-review conference.
            </p>
            <p>The main products of this research are design space and design pattern cards. 
            Including them, research process is availble via <a href="/archive/ls_to_ss">here</a>.</p>
          </article>
          <article class="img">
            <img src="/img/research_lstoss.jpg" />
          </article>
        </div>
        
      </div>
      <div class="l12 m12 s12">
        <h1>Design for Underrepresented Group</h1>
        <p>In our society, not everyone's voice is articulated. Some people might not have enough chances for
        thier own rights. Through the past social works for my community, I strongly sensed the needs of designing things 
        to support underrepresentedg groups in my society.</p>
        <div class="card_gal">
          <article class="grp2">
            <h2>
              AI System for Sexual Crime Victims
            </h2>
            <p>
              It is very difficult for sexual crime victims to be successful at legal process due to the lack of resources.
              Thus, a system is needed to support them with a reliable information and outline the process they will undergo. 
              The problem is that sexual crimes do not belong to a single class, but each type of damage requires different 
              approach and aftercare. Here does AI play an important role. While in the beginning stage, the research team led by Prof. 
              Joonhwan Lee (HCI+D Lab.) is cuurrently focusing on design blueprint throught a participatory process with professional 
              counselors. My role is an organizer of participatory design workshop.
            </p>
            <p>
              This project is funded by the Korean Police and the Ministry of Science and ICT (PI: Prof. Joonhwan Lee).
            </p>
          </article>
          
          <article>
            <h2>
              Design Guidelines for the In-game Sexual Harassment Prevention System 
            </h2>
            <p>
            In online video games, sexual harassment against female gamers seems coomon, and becomes worse with various 
            factors. This research tried to suggest design guidelines that both prevent and support 
            female gamers. Publicized in HCI Korea 2018 (conference EA). 
            <a href="pubs/ingame_sexual_harassment_prevention.pdf" target="_blank">Download (Korean)</a></p>
          </article>
          
        </div>
        
      </div>
    </div>
  </div>
</section>