<section id="research" class="gal">
  <div class="container">
    <div class="row">
      <div class="l12 m12 s12">
        <h1>Data Visualization (Mike Project)</h1>
        <p>My data visualization works are concerned about social factors: gender, labor, and environment. 
        Most of the time, telling stories from data has been a strong motivation for my visualization works. </p>
        <div class="card_gal">
          <article class="grp2" style="background-image: url(/img/hmml_background.png)">
            <h2>
              How Much Is My Labor?
            </h2>
            <p>
              Language: English, Korean <br />
              In this project, the prices of products are denoted by work hour based on minimum wage. 
            </p>
            <p>Click <a href="/howmuchismylabor">here</a> to see detail.</p>
          </article>
          
          <article class="grp1" style="background-image: url(/img/hmde_background.png)">
            <h2>
              How Much Do I Emit?
            </h2>
            <p>
              Language: English, Korean <br />
              You can dicover the amount of greenhouse gas that you emit based on your income and your job sector.
            </p>
            <p>Click <a href="/howmuchdoiemit">here</a> to see detail.</p>
          </article>
          
          <article class="grp1" style="background-image: url(/img/wpmy_background.png)">
            <h2>
              What Percent Male Are You?
            </h2>
            <p>
              Language: English, Korean <br />
              The discrepancy of income level between female and male is a world-wide phenomena. Then, the question is how different. 
              In this project, you can calculate your income level either as a female or a male by country.
            </p>
            <p>Click <a href="/whatpercentmaleareyou">here</a> to see detail.</p>
          </article>
          
          <article class="grp2" style="background-image: url(/img/mtod_background.png)">
            <h2>
              My Town + Our Diversity
            </h2>
            <p>
              Language: Korean (English-translatable)<br />
              Region Scope: South Korea (English-translatable)<br />
              It is not easy to see how diverse around us, and we need a macro-level observation to see that. To support this, I made  
              an explorer by which you can observe diversity in your town via graphs and maps.
            </p>
            <p>Click <a href="/mytownourdiversity">here</a> to see detail.</p>
          </article>
          
          <article class="grp2" style="background-image: url(/img/sv_background.png)">
            <h2>
              Short Visual Series
            </h2>
            <p>
              Language: Korean (English-translatable)<br />
            </p>
            <p>Click <a href="/archive/short-visuals">here</a> to see detail.</p>
          </article>
          
          <article class="grp1" style="background-image: url(/img/infographic_background.png)">
            <h2>
              Infographic Posters
            </h2>
            <p>
              Language: Korean <br />
            </p>
            <p>Click <a href="/archive/infographics">here</a> to see detail.</p>
          </article>
        </div>
        
      </div>
     
    </div>
    <div class="row">
      <div class="l12 m12 s12">
        <h1>Web Development</h1>
        <div class="card_gal">
          
          <article class="img">
            <img src="/img/web_development.png" />
          </article>
          
          <article class="grp2" style="background-image: url(/img/factcheck_background.png)">
            <h2>
              SNU FactCheck
            </h2>
            <p>
              SNU FactCheck is a news portal that aggregates factchecks from 27 media outlets. 
              This is serviced by SNU Institue for Communication Research and collaborated with Naver. 
              Click <a href="/archive/factcheck">here</a> to see details.
            </p>
          </article>
          
          <article class="grp3" style="background-image: url(/img/cardnews_background.png)">
            <h2>
              SNU Card NewsBot
            </h2>
            <p>
              SNU Card NewsBot is a robot journalism system that automatically generates personalized news slides. This was granted by 
              Institute for Information and Communications Technology Promotion of South Korea. 
              Click <a href="/archive/snucardnewsbot">here</a> to see details.
            </p>
          </article>
          
          <article style="background-image: url(/img/utopia_background.png)">
            <h2>
              Utopia
            </h2>
            <p>
              Utopia is a web app for energy education. My team developed user-side and provider-side sub-apps.
              This app features an energy diary, a web comics with audio autoplay, and a book viewer system. 
              Click <a href="/archive/utopia">here</a> to see details.
            </p>
          </article>
        </div>
      </div>
  </div>
</section>